{
	"useTabs": true,
	"tabWidth": 3,
	"trailingComma": "none",
	"endOfLine": "auto",
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-tailwindcss"]
}
